{% extends 'base_template.html' %}

{% block content %}

    {% if COPY.labels.headline %}<h1>{{ COPY.labels.headline|smarty }}</h1>{% endif %}
    {% if COPY.labels.subhed %}<h2>{{ render(COPY.labels.subhed)|smarty }}</h2>{% endif %}

    <div class="graphic">
	     <ul>
			 {% for row in COPY.data %}
		<div class="entry">
			<h2>{{ row.id|random }}</h2>
			<h2>"{{ row.tweet }}"</h2>
			<h3>-- Mapped at <strong>{{ row.time }}</strong> on <strong>{{ row.date }}</strong></h3>
			<a href="{{ row.image }}"><img src="{{ row.image }}"></img></a>
		</div>
			 {% endfor %}
		</ul>
	</div>

    {% if COPY.labels.footnote %}
    <div class="footnotes">
        <h4>Notes</h4>
        <p>{{ COPY.labels.footnote|smarty }}</p>
    </div>
    {% endif %}

    <div class="footer">
        {% if COPY.labels.source %}<p>Data: {{ COPY.labels.source|smarty }}</p>{% endif %}
        {% if COPY.labels.credit %}<p>Credit: {{ COPY.labels.credit|smarty }}</p>{% endif %}
    </div>

{% endblock content %}

{% block js %}

    {{ JS.push('js/lib/tablesort.js') }}
    {{ JS.push('js/lib/tablesort.numeric.js') }}
    {{ JS.push('js/lib/pym.js') }}
    {{ JS.push('js/graphic.js') }}
    {{ JS.render('js/graphic-footer.js') }}

{% endblock js %}
